# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
optimizer

# IDE and OS specific files
.vscode/
.idea/
.DS_Store

# Yacc and Lex Compiled
*.tab.c 
*.tab.h
*.yy.c

# Folder
bin/