# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
optimizer

# IDE and OS specific files
.vscode/
.idea/
.DS_Store

# --- Custom DBMS Project Files ---

# Ignore generated Flex and Bison files
lex.yy.c
parser.tab.c
parser.tab.h

# Ignore the bin folder (where test_parser and optimizer live)
bin/