# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
optimizer
optimizer_test

# IDE and OS specific files
.vscode/
.idea/
.DS_Store
query.json
result.json

# --- Custom DBMS Project Files ---

# Ignore generated Flex and Bison files
lex.yy.c
parser.tab.c
parser.tab.h

# Ignore the bin folder (where test_parser and optimizer live)
bin/

# Unused Files
commentedCBO.cpp
parser_test.cpp
test_optimizer.cpp

# Images and stuff
dbms_photos/